.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
    justify-content: center;
    background:rgba(158, 83, 34, 0.657);
    opacity: .8;
    height: 5rem;
    padding: 1rem;
}

.AppContainer {
  border: rgba(51, 26, 2, 0.945) solid 1px;
  padding: 1rem;
  margin: 0.5rem 0.0rem;
  background-color:rgba(173, 112, 72, 0.356);
  display: block;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header_img {
  height: 5rem;
  width: auto;
}

.NavBar {
  display: flex;
  flex-direction: row;
  color:maroon;
}

a.active {
  color:lightcoral;
}

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 40%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

.submit {
  position: relative;
  background-color: #c0484e;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.CategoryCard {
  background-color:rgba(121, 53, 75, 0.287) ;
  text-align: center;
  border: grey solid 1px;
  padding: 0.6rem 0.6rem;
  width: 10rem;
  height: 10rem;
  display: inline-grid;
  margin: 1rem 1rem;
  box-shadow: 3px 4px #7e480b;
  font-size: 0.8rem;
}

.categoryLink {
  color:black;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.ProductCard {
  background-color:rgba(121, 53, 75, 0.287) ;
  text-align: center;
  border: grey solid 1px;
  padding: 0.6rem 0.6rem;
  width: 10rem;
  height: 14rem;
  display: inline-grid;
  margin: 1rem 1rem;
  box-shadow: 3px 4px #7e480b;
  font-size: 0.8rem;
}

.productLink {
  color:black;
  text-decoration: none;
  text-align:justify;
  display: inline-block;
}

.home h2 {
  color:rgb(110, 55, 16);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.image {
  justify-self: center;
  height: 6rem;
  width: auto;
  margin: 12px;
}

.homeImage {
  justify-self: center;
  height: 20rem;
  width: auto;
}

button {
  position: relative;
  background-color: #e04b52;
  border: none;
  border-radius: 5px;
  height: 1rem;
  width: max-content;
  color: whitesmoke;
  font-size: 12px;
  justify-self: center;
  margin: 5px;
}

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.logout {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  font-size: 16px;
  color:rebeccapurple;
  text-decoration: underline;
  cursor: pointer;
  
}

.OrderDetailsLink{
  color: rgb(107, 84, 47);
  text-decoration: underline;
  text-align: left;
  cursor: pointer;
}
.OrderDetail{
  color: rgb(58, 73, 102);
  font-weight: 500;
}

.OrderDetailCard {
  text-align: left;
}




